html,
body {
  color: white;
}

.container {
  margin: 15px;
}

.intro {
  padding-top: 30px;
}

h1 {
  font-size: 50px;
  letter-spacing: -4px;
  font-weight: 400;
  line-height: 1;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

.about button {
  margin-top: 20px;
}
.flex__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work h3 {
  font-size: 22px;
  font-weight: 400;
}

.work p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: rgb(174, 173, 173);
}

.work ul {
  padding-left: 15px;
  line-height: 28px;
}

.card__box {
  display: flex;
  align-items: initial;
  flex-direction: column-reverse;
}

.card__text button {
  background: #df0d0d;
}

.card__box img {
  max-width: 100%;
  object-fit: contain;
}
