:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

#root {
  background: #0000009e;
  box-shadow: 0px -100px 180px 0 #000000b5;
  
}

body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

canvas {
  width: 100%;
  height: 100vh;
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}

.top {
  position: relative;
  height: 100vh;
}

.nav {
  position: absolute;
  right: 10px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 1.2rem 0.9em;
  background: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  width: 120px;
  text-transform: uppercase;
}

.container > button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
}

button:hover {
  color: #000000;
}

button:hover {
  color: black;
  background: #bababa;
}
.nav button:nth-child(1) {
  background: #df0d0d;
}
.nav button:hover:nth-child(1) {
  background: #ababab;
}
.nav button:hover:nth-child(2),
.nav button:hover:nth-child(3) {
  background: #1bdf0d;
}
