:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}

#root {
  background: #0000009e;
  box-shadow: 0px -100px 180px 0 #000000b5;
}

body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

canvas {
  width: 100%;
  height: 100vh;
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}

.top {
  position: relative;
  height: 100vh;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
}

.top__btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
}

.top__btn:hover {
  background: #b0b0b0;
  color: black;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 1.2rem 0.9em;
  background: #000000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  width: 120px;
  text-transform: uppercase;
}

.nav button:nth-child(1),
.nav button:nth-child(2) {
  color: black;
}

.nav button:nth-child(1) {
  background: #e9cb07;
}
.nav button:nth-child(2) {
  background: #dc4ba8;
}
.nav button:nth-child(3) {
  color: #e2e2e2;
  background: #0c0c0c;
}

.nav button:hover:nth-child(1),
.nav button:hover:nth-child(2) {
  color: #ffd500;
}

.nav button:hover:nth-child(1) {
  background: #0b27dc;
}

.nav button:hover:nth-child(2) {
  background: #009437;
}

.nav button:hover:nth-child(3) {
  background: #979797;
  color: #0c0c0c;
}

.about__btn button:nth-child(1) {
  background: #131313;
  color: #0c0c0c;
}

.about__btn button:nth-child(2) {
  background: #d1b605;
  color: #0c0c0c;
}

.about__btn button:hover:nth-child(2) {
  background: #0a23c4;
  color: #ffd500;
}

.resume__btn {
  text-decoration: none;
  color: #dc4ba8;
}

.resume__btn:hover {
  color: #d1d1d1;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.home {
  padding: 100px 0;
}

.home h1 {
  font-size: 3.1rem;
  letter-spacing: -0.06em;
  font-weight: 400;
  line-height: 1;
}

.home h3 {
  font-size: 1.25rem;
  font-weight: 200;
}

h2 {
  font-size: 2.2rem;
  font-weight: 400;
}

h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 68px;
  background: #e9cb07;
  margin: 9px 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  color: #aeadad;
}

.flex__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.me__img {
  max-width: 300px;
}

.about button {
  margin-top: 20px;
}

.about__btn {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 2px;
  margin-top: 60px;
}

.about__btn button {
  margin: 0;
}

.flex__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}

.home > button {
  margin: 50px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about,
.work {
  border-top: 1px solid #ffffff42;
  padding-top: 50px;
}

.work ul {
  padding-left: 15px;
  line-height: 28px;
  color: #c7c7c7;
}

.card__box {
  display: flex;
  align-items: initial;
  flex-direction: column-reverse;
  margin-top: 40px;
  margin-bottom: 100px;
}

.card__text button {
  background: #c6288c;
  color: black;
}

.card__text button:hover {
  color: rgb(216, 216, 216);
  background: #000000;
}

.card__links {
  display: flex;
  align-items: end;
  margin-top: 30px;
  gap: 20px;
}

.card__git {
  width: 35px;
  height: 35px;
  color: #f1f1f1;
  cursor: pointer;
}

.card__git:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.card__box img {
  max-width: 100%;
  height: auto;
  display: block; 
  object-fit: cover; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

span {
  font-weight: 300;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid #ffffff22;
  margin-top: 100px;
}

iframe {
  width: 100%;
  height: 100vh;
}

@media (min-width: 500px) {
  .container {
    max-width: 900px;
  }

  .home h3 {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .card__box {
    /* flex-direction: unset; */
    /* max-width: 65%; */
    gap: 2rem;
  }
  .home h3 {
    direction: rtl;
    margin-right: 250px;
  }
  .flex__container {
    margin: 150px 0;
  }
  .flex__about {
    flex-direction: unset;
  }
  .about__btn {
    flex-direction: unset;
    justify-content: center;
  }
  .nav {
    flex-direction: row;
    bottom: 3vh; 
    gap: 6px;
    bottom: 3vh;
  }
}

